noscript {
  display: block;
  margin: auto;
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
  color: #DD4C40;
}

body {
  /* box-sizing: border-box; */
  font-family: sans-serif;  
  /* background: #AAD7FF; */
}

#map {
  height: 300px;  
  margin: 0 auto;
  /* border: solid 1px #000000; */
}

h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
}

header,
fieldset,
noscript,
#map,
form,
.host-results,
.result,
footer {
  width: 330px;
  margin: 0 auto;  
}

legend {
  float: left;
  padding-top: 3px;
}

#search-text {
  width: 50%;
  font-family: inherit;
}

.delete-button,
.focus-button {
  display: block;
  margin: 3px auto;
}

.result-controls { 
  
  width: 72px;
  float: right;
}

footer {  
  text-align: center;
  font-size: 0.8em;
}

input,
label,
button,
input[type="radio"] {
	cursor: pointer;
}

footer {
  margin: 6px auto 6px auto;
}

.host-results,
.result {
  background: #F9F5E7;
}

header,
fieldset,
.form-controls,
footer {
  background: #C5EFBA;
}

/** Google Map InfoWindow CSS **/

.info-window {
  background: #E8EBDE;
  padding: 9px;
}


.info-window h1,
.info-window h2 {
  margin-bottom: 3px;
  font-weight: bold;
}

.info-window h1 {
  margin: 0;
  font-size: 1em;
}

.info-window h2,
.info-window li {
  font-size: 0.9em;
}

/** Responsive CSS **/

@media only screen and (min-width: 640px) {


}

@media only screen and (min-width: 1024px) {


}